.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;

  img {
    margin: auto;
    margin-bottom: 16px;
  }
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

mat-progress-spinner {
  display: block;
  margin: 20px auto 0;
}