<div class="dashboard-container">
  <div class="task-actions">
    <button mat-raised-button color="primary" (click)="openTaskFormDialog()">Add Task</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>

  <!-- Pending Tasks Board -->
  <app-task-board
    [title]="'Pending Tasks'"
    [tasks]="pendingTasks"
    (toggleCompletion)="toggleTaskCompletion($event)"
    (editTask)="openTaskFormDialog($event)"
    (deleteTask)="deleteTask($event)"
  ></app-task-board>

  <!-- Completed Tasks Board -->
  <app-task-board
    [title]="'Completed Tasks'"
    [tasks]="completedTasks"
    (toggleCompletion)="toggleTaskCompletion($event)"
    (editTask)="openTaskFormDialog($event)"
    (deleteTask)="deleteTask($event)"
  ></app-task-board>
</div>
